/* FONTS */

@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v9/e3t4euO8T-267oIAQAu6jDQyK3nVivM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* Universal styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #700b0b;
}

p{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P';
}

/* Playing field */

#field {
    width: 100%;
}

#game-area{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 600px;
    background-color: #111316;
    margin-left: -250px;
    margin-top: -300px;
    display: grid;
}

#border {
    background-color: black;
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 520px;
    height: 620px;
    margin-left: -260px;
    margin-top: -310px;
    border: 10px solid black;
    z-index: 3;
}

/* Score Display */

#display {
    position: fixed;
    top: 50%;
    left: 25%;
    height: 620px;
    width: 200px;
    margin-left: -130px;
    margin-top: -310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#display button{
    margin-top: 20px;
    padding: 10px 0;
    font-family: 'Press Start 2P';
}

#resume {
    display: none;
}

#pause {
    display: none;
}

#score, #best, #treats-left{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #e7e7e7;
}

#score, #best{
    height: 100px;
    width: 200px;
    /*
    color: black;
    border: 5px solid black;
    */
    background-color: #2d167e;
    border: 5px solid #4d1cfc;
    
}

#treats-left{
    height: 140px;
    width: 200px;
    margin-bottom: 20px;
    background-color: #4419df;
    border: 5px solid #2d167e;
    display: none;
}

#score {
    display: none;
}

/* top score */

#best{ 
    margin-bottom: 20px;
    display: none;
}
/* Creator name display */

#creator{
    position: fixed;
    top: 50%;
    right: 25%;
    height: 620px;
    width: 200px;
    margin-right: -130px;
    margin-top: -310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#name{
    height: 100px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#name p{
    line-height: 1.75;
}

/* Welcome Display */

#welcome {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    background-color: #2d167e;
    margin-left: -150px;
    margin-top: -200px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #e7e7e7;
    border: 5px solid #4d1cfc;
    box-shadow: 5px 5px 5px  #2d167e;
}

#welcome p{
    line-height: 1.75;
}

#welcome button{
    margin-top: 30px;
    padding: 10px 0;
    font-family: 'Press Start 2P';
    width: 110px;
}

#welcome h1{
    font-size: 20px;
    font-family: 'Press Start 2P';
    font-weight: normal;
    margin: 0;
    margin-bottom: 30px;
}
/* Snake */

.snake {
    background-color: #e7e7e7;
    border-radius: 5px;
    z-index: 2;
    border: 2px solid #4d1cfc;
}

/* Food */

.food {
    background-color: #2d167e;
    border-radius: 10px;
    z-index: 1;
    border: 2px solid #4d1cfc;
}
