/* FONTS */

@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v9/e3t4euO8T-267oIAQAu6jDQyK3nVivM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* Universal styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #700b0b;
}

/* Playing field */

#field {
    width: 100%;
}

#game-area{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 600px;
    background-color: #111316;
    margin-left: -250px;
    margin-top: -300px;
    display: grid;
}

#border {
    background-color: black;
}

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 520px;
    height: 620px;
    background-color: black;
    margin-left: -260px;
    margin-top: -310px;
}

#display {
    position: fixed;
    top: 50%;
    left: 25%;
    height: 620px;
    width: 200px;
    margin-left: -130px;
    margin-top: -310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    margin-top: 20px;
    padding: 10px 0;
    font-family: 'Press Start 2P';
}

#continue {
    display: none;
}

#score {
    height: 100px;
    width: 200px;
    border: 5px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#score p{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P';
}

/* Snake */

.snake {
    background-color: #e7e7e7;
    border-radius: 5px;
    z-index: 2;
    border: 2px solid #400ff3
}

/* Food */

.food {
    background-color: #2d167e;
    border-radius: 10px;
    z-index: 1;
    border: 2px solid #400ff3;
}
